<p id="notice"><%= notice %></p>
<p><%= "Hello, " + @user.name %></p>
<%= link_to "Account Settings", sessions_edit_login_path %>
<h1>Listing Parents</h1>

<table>
  <thead>
    <tr>
      <th>Student name</th>
      <th>Parent name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.parents.each do |parent| %>
      <tr>
        <td><%= parent.student_name %></td>
        <td><%= parent.parent_name %></td>
        <td><%= parent.email %></td>
        <td><%= link_to 'Show', parent %></td>
        <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
        <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parent', new_parent_path %>
