<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @parent.student_name %>
</p>

<p>
  <strong>Parent name:</strong>
  <%= @parent.parent_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
