<!DOCTYPE html>
<html>
<head>
  <title>TeacherBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Logout", sessions_logout_path if session[:user_id] %>
  <%= link_to "Home", parents_path if session[:user_id] %>
    <% user = User.find_by_id(session[:user_id]) if session[:user_id]%>
  <%= content_tag(:p, "Hello " + user.name) if session[:user_id]%>
  <p id="notice"><%= notice %></p>
  <%= yield %>

</body>
</html>
